* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #AEE2FF;
    font-family: 'Tangerine', cursive;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: space-between; */
    height: 60vh;
    width: 40vw;
    background: #EFEFEF;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.232);
}

img {
    height: 35px;
    width: 35px;
}

.logo {
    display: flex;
    justify-content: right;
}

.logo:hover {
    cursor: pointer;
}



.quotes {
    font-size: 100px;
    padding-left: 20px;
    color: rgb(199, 194, 194);
}

.writting {
    display: flex;
    justify-content: center;
    font-size: 23px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

#author {
    display: flex;
    justify-content: right;
    padding-right: 20px;
    font-family: 'Roboto Mono', monospace;
    padding-top: 20px;
    font-size: 13px;
}

#change {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 89, 255, 0.89);
    height: 50px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#change:hover {
    cursor: pointer;
}
